# Development server
PORT=3001

# API config
REACT_APP_API_BASE_URL=/api
REACT_APP_USE_MOCK_API=true

# Realtime feature flag
REACT_APP_FEATURE_REALTIME=false

# Supabase
REACT_APP_SUPABASE_URL=
REACT_APP_SUPABASE_ANON_KEY=
